SECRET_KEY=changeme-in-dev
DEBUG=True
DATABASE_URL=postgres://user:pass@localhost:5432/dbname
ALLOWED_HOSTS = ['localhost', '127.0.0.1']

DOMAIN_NAME = 'http://localhost:8000'
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=fakeuser@example.com
EMAIL_HOST_PASSWORD='aaaa bbbb cccc dddd'
DEFAULT_FROM_EMAIL = 'noreply@yourdomain.com'
